
body {
  background-color: #2B2D42;
  font-family: 'MedievalSharp', cursive;
}

.navbg {
  background-color: #D90429;
}

.nav-link {
  color: #EDF2F4;
}

.navbar-brand h1 {
  color: #EDF2F4;
}

.info-area {
  background-color: #EF233C;
  color: #EDF2F4;
}

.review-area {
  background-color: #8D99AE
}

.review-card {
  background-color: #f3d5b5;
}

.about-menu {
  background-color: #8D99AE;
}

.about-games {
  background-color: #D90429;
}

.about-events {
  background-color: #8D99AE;
}

.gallery-card {
  background-color: #f3d5b5;
  color: #2B2D42;
}

.gallery-card a {
  text-decoration: none;
}

.contact-area{
  background-color: #8D99AE;
}

.locate-area {
  background-color: #EF233C
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

  .footer {
    background-color: #D90429;
  }

  .footer a {
    text-decoration: none;
    color: #EDF2F4;
  }

  .footer a:hover {
    color: #2B2D42;
  }