{% extends "base.html" %}
{% load static %}
<title>About Us</title>
{% block content %}

<!--Food Menu-->
<div class="container-fluid d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-10 text-center border border-5 border-dark about-menu">
            <h2>Food & Drink</h2>
            <hr>
            <p class="fs-5"> Every hero needs a short break or a long rest and you are no exception!.<br> 
                Luckily, we have an extensive menu full of hearty food and drink to raise your spirits.</p>
            <a class="btn btn-info" href="{% url 'fooddrink' %}"> View our Menus </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-center text-white border border-5 border-dark about-games">
            <h2>Board Games</h2>
            <hr>
            <p class="fs-5"> Eat drink and make merry - for tomorrow we game!<br>
                We enough board, tabletop and card games to impress even the pickiest connoisseur.
            </p>
            <a class="btn btn-info" href="{% url 'games' %}"> View our Games </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-center border border-5 border-dark about-events">
            <h2>Events</h2>
            <hr>
            <p class="fs-5"> Every day is an occasion!<br>
                Join us for one of our regular events - meet new people and play new games!
            </p>
            <a class="btn btn-info" href="{% url 'events:calendar' %}"> View our Events </a>
        </div>
    </div>
</div>

{%endblock%}