{% extends "base.html" %}

{% block content %}

<!--Food Menu-->
<div class="container-fluid bg-warning">
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Food & Drink</h2>
            <br>
            <p> Enjoy Food and Drink</p>
            <a class="btn btn-info" href="{% url 'fooddrink' %}"> View Food and Drink </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Board Games</h2>
            <br>
            <p> Enjoy Board Games</p>
            <a class="btn btn-info" href="{% url 'games' %}"> View Games </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Events</h2>
            <br>
            <p> Enjoy events</p>
            <a class="btn btn-info" href="{% url 'events:calendar' %}"> View Events </a>
        </div>
    </div>
</div>

{%endblock%}