{% extends "base.html" %}

{% block content %}

<!--Food Menu-->
<div class="container-fluid bg-warning">
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Food & Drink</h2>
            <br>
            <p> Enjoy Food and Drink</p>
            <button type="button" class="btn btn-primary">View Menu</button>
        </div>
    </div>
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Board Games</h2>
            <br>
            <p> Enjoy Board Games</p>
            <button type="button" class="btn btn-primary">View Games</button>
        </div>
    </div>
    <div class="row">
        <div class="col-10 bg-success">
            <h2>Events</h2>
            <br>
            <p> Enjoy events</p>
            <button type="button" class="btn btn-primary">View Events</button>
        </div>
    </div>
</div>

{%endblock%}