<title>Session Booking</title>
{% extends "base.html" %}

{% block content %}





{% if user.is_authenticated %}
<div class="row container-fluid d-flex align-items-center text-center bg-light mx-auto">
    <h1 class="text-center mt-3">Online Booking</h1>
</div>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'booking:booking' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div class="align-items-center text-center">
            <h3>Select Service:</h3>
            <select class="form-select fs-3" name="service">
                <option value="Drinks">Drinks</option>
                <option value="Food and Drinks">Food and Drinks</option>
                <option value="Board Game Session">Board Game Session</option>
                <option value="Food, Drinks and Games">Food, Drinks and Games</option>
            </select>
        </div>
        <!--input day-->
        <div class="mt-3">
            <h3 class="">Select Day:</h3>
            <select class="form-select fs-3" name="day">
                {% for validateWeekday in validateWeekdays %}
                    <option value="{{ validateWeekday }}">{{ validateWeekday }}</option>
                {% endfor %}
            </select>
        </div>
        <!--input email-->
        <div class="mt-3">
            <h3 class="">Enter Your Email:</h3>
            <input type="email" class="form-control" id="booking_email" aria-describedby="emaillHelp" placeholder="Enter email" name="email" required>
        </div>
        <!--input phone-->
        <div class="mt-3">
            <h3 class="">Enter Your Phone:</h3>
            <input type="number" class="form-control" id="booking_phone" aria-describedby="phoneHelp" placeholder="Enter phone" name="phone" required>
        </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'account_login' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}


{%endblock%}