{% extends "base.html" %}

{% block content %}

<form class="row g-3 bg-warning">
    <div class="col-md-6">
      <label for="firstname" class="form-label">First Name</label>
      <input type="txt" class="form-control" id="firstname" placeholder="First Name">
    </div>
    <div class="col-md-6">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Last Name">
    </div>
    <div class="col-4">
      <label for="emailaddress" class="form-label">Address</label>
      <input type="email" class="form-control" id="emailaddress" placeholder="Email Address">
    </div>
    <div class="col-12">
      <label for="comments" class="form-label">Your Feedback or Comments</label>
      <input type="textarea" class="form-control" id="comments" placeholder="Your comments.">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Keep me updated with the latest news and offers!
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class = "row bg-warning">
    <div id='map' class="col-md-6 bg-success">
      <h4>Locate Us</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d524.8543375304879!2d-1.0858068739237063!3d51.262499662282245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48742127f579e193%3A0x8ee6556c7ed74555!2sDice%20Tower%20Cafe%20%26%20Gaming!5e0!3m2!1sen!2suk!4v1678291732942!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6 bg-success">
      <h4>Contact Information</h4>
    </div>
  </div>
{%endblock%}
