{% extends "base.html" %}
{% load static %}
<title>Delete Event</title>
{% block content %}
<div class="row text-center text-white">
    <h2>Delete Event at the Dragon's Flagon</h2>
</div>
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'events:calendar' %}">Return to Calendar </a>
</div>
<div class="container text-center text-white">
  Title: {{ event.title}}
  <br>
  Description: {{ event.description }}
  <br>
  Start Time: {{ event.start_time }}
  <br>
  End Time: {{ event.end_time }}
</div>
  <form action="{% url 'events:event_delete' event_id=event.id %}" method="post">
    {% csrf_token %}
    <table class="form form-table">
      <tr><td colspan="1"><button type="submit" class="btn btn-info right"> Delete </button></td></tr>
    </table>
  </form>
{% endblock %}