{% extends "base.html" %}
{% load static %}
<title>Events Page</title>
{% block content %}

<div class="container-fluid">
    <div class="row text-center text-white">
        <h2>Events at the Dragon's Flagon</h2>
    </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-center">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-8 info-dnd border border-dark border-5">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,h_100/v1679924846/DnD-Emblem_lqmhhi.png"
                class="img-thumbnail rounded float-start img-fluid d-none d-sm-block" alt="DnD Logo">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,h_100/v1679924846/DnD-Emblem_lqmhhi.png"
                class="img-thumbnail rounded float-end img-fluid d-none d-sm-block" alt="DnD Logo">
            <h3>D&D Adventurers League</h3>
            <p>Wednesday nights are dungeon nights! The adventures begin at 7pm.
                <br>
                A mere £5 gets you a spot in the guild and the wisdom of an elite Dungeon Master.
                <br>
                Bring your dice and character sheets and choose from a variety of games on offer!
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-8 info-pq border border-dark border-5">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,h_105/v1679925142/pub_quiz_luojc2.jpg"
                class="img-thumbnail rounded float-start img-fluid d-none d-sm-block" alt="Quiz logo">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,h_105/v1679925142/pub_quiz_luojc2.jpg"
                class="img-thumbnail rounded float-end img-fluid d-none d-sm-block" alt="Quiz logo">
            <h3>Pub Quiz and Dance</h3>
            <p>Thursdays from 7pm are all about the grey matter. Can you answer our devilish questions?
                <br>
                Assemble a team of up to 6 people and prepare your wits. The entry fee is £2 per person - the winning
                team takes the pot!
                <br>
                After the quiz, enjoy our live music - all in aid of promoting local bands and DJs!
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-8 info-fnm border border-dark border-5">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,w_100/v1679924128/magic-the-gathering-logo_zbjwr1.png"
                class="img-thumbnail rounded float-start img-fluid d-none d-sm-block" alt="Five colour logo">
            <img src="https://res.cloudinary.com/dbznc8xql/image/upload/c_scale,w_100/v1679924128/magic-the-gathering-logo_zbjwr1.png"
                class="img-thumbnail rounded float-end img-fluid d-none d-sm-block" alt="Five colour logo">
            <h3>Friday Night Magic</h3>
            <p>Join us on Friday nights from 7pm for an evening of Magic: The Gathering!
                <br>
                A £5 buy-in gets you a seat at the sealed draft table with a chance to earn rare cards and free packs!
                <br>
                After the event, chill at the bar, trade cards or challenge different opponents to a game mode of your
                choice.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid cal-contain">
    <div class="row">
        <div class="clearfix">
            <a class="btn btn-info left" href="{% url 'events:calendar' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-info right" href="{% url 'events:calendar' %}?{{ next_month }}"> Next Month </a>
            {% if user.is_authenticated %}
            <a class="btn btn-info right" href="{% url 'events:event_new' %}"> New Event </a>
            {% endif %}
            <div class="table-responsive">
                {{ calendar }}
            </div>
        </div>
    </div>
</div>

{%endblock%}