{% extends "base.html" %}
{% block content %}
<div class="row">
    <h2>Events at the Dragon's Flagon</h2>
</div>
<div class="container bg-warning">
    <div class="row">
        {{ calendar }}
    </div>
</div>
<div class="container bg-success">
    <div class="row">
        <h3>Regular Event 1</h3>
        <p>Description</p>
    </div>
    <div class="row">
        <h3>Regular Event 1</h3>
        <p>Description</p>
    </div>
    <div class="row">
        <h3>Regular Event 1</h3>
        <p>Description</p>
    </div>
</div>
{%endblock%}