{% extends "base.html" %}
{% load static %}
<title>Food Menu</title>
{% block content %}
<div class="row d-flex justify-content-center text-white">
    <h2 class="text-center">Food and Drink</h2>
</div>
<div class="container-fluid text-white">
    <div class="row d-flex justify-content-center text-center">
        <h3>Starters and Snacks</h3>
        <div class="col-lg-4 col-md-8 col-sm-10 menu-starter border border-dark border-2">
            <h4>Garlic Pizza Bread</h4>
            <p>A sourdough base, drizzled with garlic butter and topped with cheese.</p>
            <h4>Nachos</h4>
            <p>Tortilla triangles, loaded with salsa, cheese and guacamole.</p>
            <h4>Sliders</h4>
            <p>A selection of bite-size burgers.</p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 menu-starter border border-dark border-2">
            <h4>Pork Scratchings</h4>
            <p>A pub-snack staple. Choose from a number of flavours.</p>
            <h4>Crisps</h4>
            <p>A pub-snack staple. Choose from a number of flavours.</p>
            <h4>Nuts</h4>
            <p>A selection of nuts for a healthier option.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <h3>Mains and Sharers</h3>
        <div class="col-lg-4 col-md-8 col-sm-10 text-black menu-main border border-dark border-2">
            <h4>Pizzas</h4>
            <p>A sourdough base, with tomato sauce and cheese. See our board for extra toppings.</p>
            <h4>Burgers</h4>
            <p>A brioche bun. Choose from beef, chicken or vegan patties. Served with chips.</p>
            <h4>Fish and Chips.</h4>
            <p>A time-honoured classic. Battered fish, mushy peas, curry sauce and chips.</p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 text-black menu-main border border-dark border-2">
            <h4>Chicken Platter</h4>
            <p>Chicken wings, battered breast bites, breaded drumsticks. Served with chips, onion rings and a range of dips.</p>
            <h4>Mediterranean Plate</h4>
            <p>An antipasti platter. Cheese, peppers, tomatoes, olives, salami and ciabatta bread.</p>
            <h4>Odin's Feast</h4>
            <p>Can't decide? Have both!</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <h3>Desserts and Treats</h3>
        <div class="col-lg-4 col-md-8 col-sm-10 menu-pud border border-dark border-2">
            <h4>Red Velvet Cheesecake</h4>
            <p>A Red Velvet cake, with a buttery biscuit base and covered with sweetened cream cheese.</p>
            <h4>Black Forest Gateau Pie</h4>
            <p>A cherry pie baked inside a chocolate fudge cake, served warm with ice-cream.</p>
            <h4>Sticky Toffee Pudding</h4>
            <p>Another pub classic. Toffee covered sponge served warm with custard.</p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 menu-pud border border-dark border-2">
            <h4>Pecan Pie</h4>
            <p>An American classic. Caramelised pecan nuts baked in pastry and served with ice-cream.</p>
            <h4>Apple Crumble</h4>
            <p>A British classic. Apples and currents covered with oaty crumble. Served with ice-cream.</p>
            <h4>Ice Cream Sundae</h4>
            <p>Perfect for a warm day. See our board for our daily specials.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <h3>Drinks & Cocktails</h3>
        <div class="col-lg-4 col-md-8 col-sm-10 text-black menu-drink border border-dark border-2">
            <h4>Local Beer & Cider</h4>
            <p>A selection of beers and ciders from local breweries. </p>
            <h4>Local Mead</h4>
            <p>A Viking staple! Honey wine sourced from a local brewery.</p>
            <h4>Local Wines</h4>
            <p>Red, White, Rose and Sparkling. All sourced from a local vineyard.</p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 text-black menu-drink border border-dark border-2">
            <h4>Health Potion</h4>
            <p>Cranberry Juice, Raspberry Vodka and a splash of lime juice.</p>
            <h4>Mana Potion</h4>
            <p>Gin, Blue Curacao and tonic.</p>
            <h4>Stamina Potion</h4>
            <p>Midori, White Rum, Lemonade.</p>
        </div>
    </div>
</div>

{%endblock%}