{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Food and Drink</h2>
<div class="container-fluid">
    <div class="row bg-warning">
        <h3>Starters and Snacks</h3>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row bg-warning">
        <h3>Mains and Sharers</h3>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row bg-warning">
        <h3>Desserst and Treats</h3>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row bg-warning">
        <h3>Drinks & Cocktails</h3>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Item 1</h4>
            <p>Description</p>
            <h4>Item 2</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
    </div>
</div>

{%endblock%}