{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center bg-warning">
    <h2 class="text-center">Food and Drink</h2>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center bg-warning text-center">
        <h3>Starters and Snacks</h3>
        <div class="col-4 bg-success">
            <h4>Garlic Pizza Bread</h4>
            <p>Description</p>
            <h4>Nachos</h4>
            <p>Description</p>
            <h4>Sliders</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Pork Scratchings</h4>
            <p>Description</p>
            <h4>Crisps</h4>
            <p>Description</p>
            <h4>Nuts</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center bg-warning text-center">
        <h3>Mains and Sharers</h3>
        <div class="col-4 bg-success">
            <h4>Pizzas</h4>
            <p>Description</p>
            <h4>Burgers</h4>
            <p>Description</p>
            <h4>Item 3</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Chicken Platter</h4>
            <p>Description</p>
            <h4>Mediterranean Plate</h4>
            <p>Description</p>
            <h4>Odin's Feast</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center bg-warning text-center">
        <h3>Desserst and Treats</h3>
        <div class="col-4 bg-success">
            <h4>Red Velvet Cheesecake</h4>
            <p>Description</p>
            <h4>Black Forest Gateau Pie</h4>
            <p>Description</p>
            <h4>Sticky Toffee Pudding</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Pecan Pie</h4>
            <p>Description</p>
            <h4>Apple Crumble</h4>
            <p>Description</p>
            <h4>Ice Cream Sundae</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center bg-warning text-center">
        <h3>Drinks & Cocktails</h3>
        <div class="col-4 bg-success">
            <h4>Local Beer</h4>
            <p>Description</p>
            <h4>Local Mead</h4>
            <p>Description</p>
            <h4>Local Wines</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Soft Drinks</h4>
            <p>Description</p>
            <h4>Juices</h4>
            <p>Description</p>
            <h4>Plain Ol' Water</h4>
            <p>Description</p>
        </div>
        <div class="col-4 bg-success">
            <h4>Health Potion</h4>
            <p>Description</p>
            <h4>Mana Potion</h4>
            <p>Description</p>
            <h4>Stamina Potion</h4>
            <p>Description</p>
        </div>
    </div>
</div>

{%endblock%}