{% extends "base.html" %}

{% block content %}

<!-- Image Gallery -->
<div class="container-fluid bg-warning">
    <div class="row bg-success">
        {% for gallery in gallery_list %}
        <div class="card" style="width: 18rem;">
            {% if "placeholder" in gallery.featured_image.url %}
            <img class="card-img-top" src="">
            {% else %}
            <img class="card-img-top" src="{{ gallery.featured_image.url }}">
            {% endif %}
            <div class="card-body">
                <p class="card-text">
                    {{ gallery.title }}
                    <br>
                    {{ gallery.content }}
                    <hr />
                    {{ gallery.author }}
                    <hr />
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}