{% extends "base.html" %}
{% load static %}
<title>{{ gallery.title }}</title>
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0 d-flex justify-content-center">
            <div class="col-md-6 masthead-text ">
                <div class="row text-white text-center">
                <!-- Post title goes in these h1 tags -->
                <h2 class="post-title">{{ gallery.title }}</h2>
                <hr>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ gallery.author }} | {{ gallery.created_on }}</p>
                </div>
            </div>
            <div class="row">
                <div class="d-none d-md-block masthead-image">
                    <!-- The featured image URL goes in the src attribute -->
                    <img class="uploaded-image" src=" {{ gallery.featured_image.url }}" alt="Uploaded image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top gallery-card">
            <div class="gallery-card card-body text-center">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <hr>
                <div class="card-text">
                    {{ gallery.content | safe }}
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-1 p-1">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'gallery_like' gallery.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="gallery_id" value="{{gallery.slug}}" class="fs-4 btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="gallery_id" value="{{gallery.slug}}" class="fs-4 btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <!-- The number of likes goes before the closing strong tag -->
                        <span class="text-secondary fs-5">{{ gallery.number_of_likes }} </span>
                    </div>
                    <div class="col-1 m-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary">
                            <i class="fs-4 far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 card mb-4 mt-3 gallery-card">
            <h3>Comments:</h3>
            <div class="card-body gallery-card">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <hr>
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                    <hr>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 comment-area mt-3">
            <div class="card-body comment-area">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;" class="comment-form">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
