{% extends "base.html" %}

{% block content %}

<!--Hero Image Container-->
<div id="hero-image" class="container-fluid bg-warning">
    <img src="https://res.cloudinary.com/dbznc8xql/image/upload/v1678369462/bar_smsovg.jpg"
        class="img-fluid mx-auto d-block" alt="#">
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <!-- Introduction Section-->
        <div class="col-lg-6 col-sm-10 bg-success text-center">
            <h2>Welcome to the Dragon's Flagon!</h2>
            <hr>
            <p>The closest place to Nerdvana you can get to on earth! 
            We are a cafe, lounge, bar, restaurant and gaming den all rolled into one!
            Packed to the rafters with comics and books; as well as a vast selection of table-top, card and board games - we have something for every geeky occasion.
            We serve a selection of great local drinks and adventurous cocktails, as well as food hearty enough to satisfy even Thor himself.
            <br>
            What are you waiting for? Book your table today or browse our calendar for one of our regular events!
            </p>
            <a class="btn btn-info" href="{% url 'booking:booking' %}">Book Your Table!</a>
            <a class="btn btn-info" href="{% url 'events:calendar' %}">View Our Events!</a>
            <hr>
            <p>Opening Hours:</p>
            <p><i class="fa-solid fa-clock"></i>
              Monday - Sunday: 9am - 12pm
            </p>
        </div>
    </div>
        <!--Public Post Section-->
    <div class="row row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-10 bg-danger text-center">
            <h2>What People Say About Us:</h2>
            <div class="row">
                {% for review in review_list %}
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            Author: {{ review.author }}
                            <br>
                            {{ review.title }}
                            <hr>
                            {{ review.content }}
                            <hr />
                            <p> {{review.created_on}} </p>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 %}
                <form method="POST" action="{% url 'comment_update' post.id comment.id %}"></form>
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-info" href="{% url 'review_page' %}"> Leave a Review </a>
            {% endif %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
    {%endblock%}