{% extends "base.html" %}

{% block content %}

<!--Hero Image Container-->
<div class="container-fluid bg-warning">
    <img src="#" class="img-fluid" alt="#">
</div>
<div class="container">
    <div class="row">
        <!-- Introduction Section-->
        <div class="col-6 bg-success">
            <h2>Welcome to the Dragon's Flagon!</h2>
            <br>
            <p> Intro Text here</p>
        </div>
        <!--Public Post Section-->
        <div class="col-6 bg-danger">
            <h2>What People Say About Us:</h2>
            <div class="row">
                {% for review in review_list %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            Author: {{ review.author }}
                            {{ review.title }}
                            {{ review.content }}
                            <hr />
                            <p> {{review.created_on}} </p>
                            <div class="col-1">
                                <strong>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'review_like' review.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="review_id" value="{{review.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                        {% else %}
                                        <button type="submit" name="review_id" value="{{review.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                                    {% endif %}
                                <!-- The number of likes goes before the closing strong tag -->
                                <span class="text-secondary">{{ review.number_of_likes }} </span>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    {%endblock%}