<title>My Account</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
<div class="row container-fluid d-flex align-items-center text-center bg-light mx-auto">
    <h1>My Account</h1>
</div>
<div class="row container-fluid d-flex align-items-center text-center mx-auto bg-light">
    <h2>Account Info:</h2>
</div>
<div class="container-fluid d-flex align-items-center">
    <ul class="list-group mx-auto justify-content-center">
        <li class="list-group-item mt-2"><strong>First Name:</strong> {{ user.first_name }}</li>
        <li class="list-group-item mt-2"><strong>Last Name:</strong> {{ user.last_name }}</li>
        <li class="list-group-item mt-2"><strong>Username:</strong> {{ user.username }}</li>
        <li class="list-group-item mt-2"><strong>Email Address:</strong> {{ user.email }}</li>
    </ul>
</div>
<br>

<!--Appointment Loop-->
{% if bookings.count > 0 %}
<div class="row container-fluid d-flex align-items-center text-center bg-light mx-auto">
    <h2>My Bookings:</h1>
</div>
{% for booking in bookings %}
<div class="container-fluid d-flex align-items-center shadow bg-body rounded text-black">
    <ul class="list-group mx-auto justify-content-center">
        <li class="list-group-item mt-2"><strong>Day:</strong> {{ booking.day }}</li>
        <li class="list-group-item mt-2"><strong>Time:</strong> {{ booking.time }}</li>
        <li class="list-group-item mt-2"><strong>Service:</strong> {{ booking.service }}</li>
        <div class="mt-3 mb-2">
            <a class="btn btn-primary rounded-3 p-2" href="{% url 'booking:user-update' booking.id %}">Edit Booking</a>
            <a class="btn btn-primary rounded-3 p-2" href="{% url 'booking:delete-booking' booking.id %}">Delete
                Booking</a>
        </div>
</div>
</div>
{% endfor %}
{% endif %}

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="p-2  ms-3">First Sign in!</h1>
    <a href="{% url 'account_login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}


{% endblock %}